.chalkBoard{
  background-image: url("http://ak3.picdn.net/shutterstock/videos/186583/thumb/1.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  width: 800px;
  height: 480px;
  margin: auto;
  border: 5px solid black;
  border-radius: 25%;
}

body{
  background-color: black;
}

.xo{
display: inline-block;
  color: white;
  font-family: 'Indie Flower', cursive;
  font-size: 100px;
  font-weight: 600;
  text-align: center;
  line-height: 50%;
  height: 100px;
  width: 100px;
  margin : 0 auto;
  margin-top: 10px;
  padding-top: 20px;
  padding-left: 30px;
}

.board{
  margin-left: 160px;
  padding-top: 50px;
  width: 500px;
}

.controls{
  /*width: 800px;*/
  display: inline-block;
  width:auto;
  margin-left: auto;
  border: 5px solid black;
  border-radius: 25%;
  text-align: center;


}
.button{
  font-size: 30px;
  font-family: 'Indie Flower', cursive;
  border-radius: 100%;
margin-left: 50px;
}
